

<div id="login" class="span3 well well-large offset4">
  <h4>Account Panel</h4>
  <form class="form">
    <div class="row">
      <div class="col-sm-12 col-sm-offset-2">
        <input type="text" placeholder="Email" />
        <input type="password" placeholder="Password">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-sm-offset-2">
        <input class="btn btn-success" type="submit" value="Login">
        <input class="btn btn-info" type="submit" value="Register">
      </div>
    </div>
  </form>
</div>